.nav-link.active {
  background-color: #132240;
  color: rgb(96 165 250);
}

.nav-link:not(.active):hover {
  background-color: rgb(30 41 59);
  color: #cad5e2;
}
.sidebar-mobile {
    transform: translateX(-100%);
}

.sidebar-mobile.show {
    transform: translateX(0);
}

@media (min-width: 1024px) {
    .sidebar-mobile {
        transform: translateX(0);
    }
}